<div class="img-container"> 
    <img src="./assets/horarios.jpg" height="150px" width="800px" >
  </div>
  
  <style>
    .img-container{
        text-align: center;
    }
  </style>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Dias</th>
      <th scope="col">Viernes</th>
      <th scope="col">Sabado</th>
      <th scope="col">Domingo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">6:00pm - 8:00pm</th>
      <td>Salitre</td>
      <td>Suba</td>
      <td>Engativa</td>
    </tr>
    <tr>
      <th scope="row">6:00pm - 8:00pm</th>
      <td>Suba</td>
      <td>Salitre</td>
      <td>Engativa</td>
    </tr>
    <tr>
      <th scope="row">3:00pm - 5:00pm</th>
      <td>Suba</td>
      <td>Engativa</td>
      <td>Salitre</td>
    </tr>
  </tbody>
</table>