
<div class="card-mb-3 container" >
    <img src="./assets/imagen.png" class="card-img-top" alt="Acompañanos">
    <div style="background-color: rgb(252, 252, 86);" class="card-body">
      <h5 style="color: rgb(0, 0, 0); "class="card-title">Acompañanos</h5>
      <p style="color: rgb(0, 0, 0); "class="card-text">Acpompañanos este sabado 27 de mayo a vivir uno de los mejores partidos de futbol americano de toda la temporada, se testigo de esta gran batalla.</p>
      <p class="card-text"><small class="text-body-secondary">sabado, 27 mayo </small></p>
    </div>
  </div>

  <style>
    .card-img-top{
      width: 500px;
      height: 500px;
      align-content: center;
    }
    .card-mb-3{
      width: 35%;
      height: 35%;
    }
    
  </style>