
<nav  class="navbar bg-body-tertiary">
  <div style="background-color: red;" class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="./assets/cropped-logo2.png" width="54" height="44" >
      PUMAS D.C
    </a>
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="./assets/icono2.png" width="70%" height="70%">
      </a>
    
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Registrate</a></li>
        <li><a class="dropdown-item" href="#">Inscripciones</a></li>
        <li><a class="dropdown-item" href="#">Ayuda</a></li>
      </ul>
    </div>
  </div>
  <style>
  .btn{
    width: 25%;
    height: 25%;
    background: rgb(252, 252, 86);
  }
  .navbar-brand{
    margin-left: 10%;
  }
  </style>
</nav>
<app-vacompananos></app-vacompananos>
<hr>
<div class="img-container"> 
  <img src="./assets/IMG-2756.jpg" height="150px" width="800px" >
</div>

<style>
  .img-container{
      text-align: center;
  }
</style>
<hr>
<app-multimedia></app-multimedia>
<hr>
<app-nosotros></app-nosotros>
<hr>
<app-horarios></app-horarios>
<hr>
<app-contactenos></app-contactenos>
<hr>
<app-piepagina></app-piepagina>
<hr>
<app-final></app-final>